<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>


	<section>

		<div class="container">


			<div class="row">

				<div class="col-md-6 offset-3  ">

					<div class="my-card mt-2 rounded  " >
					
					<div class="container text-center ">
					
					<img width="80" th:src="@{/img/membership.png}" />
					
					</div>
					
					
					
					
						<h2 class="text-center">Register here ..!!</h2>

						<form action="" th:action="@{/doRegister}" method="post">


							<div class="form-group">
								<label for="userName">Your User Name</label> <input
									type="text" class="form-control" id="userName"
									aria-describedby="textHelp" required="required"
									placeholder="Enter User Name">
							</div>

							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label> <input
									type="email" class="form-control" id="email"
									aria-describedby="emailHelp" required="required"
									placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label> <input
									type="password" class="form-control" id="password"
									placeholder="Enter password"
									>
							</div>
							
							
							<div class="form-group">
							
							<textarea rows="6" class="form-control" placeholder="Enter something about you...!" ></textarea>
							
							</div>
							
							
							<div class="container text-center "  >
							
							
							<button type="submit" class=" btn bg-primary text-white">Submit</button>
							<button type="reset" class="btn btn-warning text-white">Reset</button>
							
							</div>





						</form>
					</div>

				</div>


			</div>



		</div>






	</section>



</body>
</html>